<configuration>
    <property name="log.charset" value="${log.charset:-UTF-8}" />
    <property name="log.level" value="${log.level:-INFO}" />

    <appender name="CONSOLE" class="xin.bbtt.mcbot.JLine.JLineConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%d{HH:mm:ss} %highlight(%5level)] [%cyan(%logger)]%marker: %msg%n</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>
    <root level="${log.level}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>