<configuration>
    <property name="log.charset" value="${log.charset:-UTF-8}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%d{HH:mm:ss} %highlight(%5level)] [%cyan(%logger)]: %white(%msg) %n</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>