<!--
  ~   Copyright (C) 2024-2025 huangdihd
  ~
  ~   This program is free software: you can redistribute it and/or modify
  ~   it under the terms of the GNU General Public License as published by
  ~   the Free Software Foundation, either version 3 of the License, or
  ~   (at your option) any later version.
  ~
  ~   This program is distributed in the hope that it will be useful,
  ~   but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~   GNU General Public License for more details.
  ~
  ~   You should have received a copy of the GNU General Public License
  ~   along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration>
    <property name="log.charset" value="${log.charset:-UTF-8}" />
    <property name="log.level" value="${log.level:-INFO}" />

    <appender name="CONSOLE" class="xin.bbtt.mcbot.jLine.JLineConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>
    <root level="${log.level}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>